*,
html,
body {
  box-sizing: border-box;
  font-family: "ArialRounded";
  color: white;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(144, 30, 30, 1) 50%
  );
}

div {
  text-align: center;
}

.button {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid transparent;
  color: white;
  background-color: gray;
  margin-right: 10px;
  width: 140px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-left: auto;
  flex-wrap: wrap;
  margin-right: auto;
}

.button:hover {
  background-color: aquamarine;
}

.title {
  color: rgb(11, 234, 160);
  margin-top: 150px;
  font-size: 100px;
  text-align: center;
  margin-bottom: 70px;
}
.break {
  font-size: 30px;
  margin-bottom: 50px;
}

.work {
  font-size: 30px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .button {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .button {
    width: 100%;
    margin: 10px 0;
  }
}
